# IDE Settings #
/.settings
/.project
/.classpath
/.idea
/bin
/target
*.iml

sonar-project.properties

# Java Classes #
*.class

# Package Files #
*.jar
*.war
*.ear

# Project Files #
/database
/logs
/workdir
